<html>
  <head>
    <title>Event Index</title>
  </head>
  <body>
    <h1><%=@customer_identifier%>'s Event Index</h1>
      <p>
        <% unless @events_array == []%>
            <h2>Events listed by  number of times received</h2>
            <h4>Click event listing for details</h4>
        <% @events_array.each do |event| %>
            <div><a href="events/<%=event[0] %>"><%= event %></a></div>
        <% end %>
        <%else%>
        <h3>No events have been defined</h3>
        <%end%>
      </p>
  </body>
</html>

