<!-- <h1>Error Page</h1> -->

<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>Error</h1>
    <form action='/create' method='post'>
      <p>
        Your Idea:
      </p>
      <input type='text' name='idea_name'/><br/>
      <textarea name='idea_description'></textarea><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
