<html>
  <head>
    <title><%=@eventName%></title>
  </head>
  <body>
    <h1><%=@eventName%> details</h1>
      <p>
        <h2>Hour by Hour Breakdown</h2>
    <% @event_hourly_breakdown.each do |hour| %>
        <div><%= hour %></a></div>
    <% end %>
      </p>


  </body>
</html>

<h1>hour by hour breakdown for event</h1>
<h1>link back to event index</h1>


<h1>error message if no event</h1>
