<html>
  <head>
    <title>--IDENTIFIER--</title>
  </head>
  <body>
    <h1>EVENT</h1>
      <p>
        <h2>Hour by Hour Breakdown</h2>
          <ol>
            <li>T1</li>
            <li>T2</li>
            <li>T3</li>
            <li>T4</li>
        </ol>
      </p>


  </body>
</html>

<h1>hour by hour breakdown for event</h1>
<h1>link back to event index</h1>


<h1>error message if no event</h1>
