    <form action='/sources/<%=@identifier%>/data' method='post'>
      <p>
        <%=@identifier%> please enter payload information
      </p>
      <input type='text' name='payload'/><br/>
      </p>
      <input type='submit'/>
    </form>
