<html>
  <head>
    <title>Traffic Spy</title>
  </head>
  <body>
    <h1>Traffic Spy</h1>
    <form action='/sources' method='post'>
      <p>
        Root URL:
      </p>
      <input type='text' name='rootUrl'/><br/>
      <p>
        Identifier
      </p>
      <input type='text' name='identifier'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
