<html>
  <head>
    <title>Traffic Spy</title>
  </head>
  <body>
    <h1>Traffic Spy</h1>
    <form action='/sources/:id/campaign' method='post'>
      <p>
        Campaign Name:
      </p>
      <input type='text' name='campaign_name'/><br/>
      <textarea name='events'></textarea><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
