<html>
  <head>
    <title><%=@rootUrl%>/<%=@path%></title>
  </head>
  <body>
    <h1><%=@path[0]%> STATS:</h1>
      <p>
        <h2>Response Times</h2>
          <ol>
          <% @response_times.sort_by { |pair| pair[:respondedIn]}.reverse.each do |time| %>
              <div><%= time %></a></div>
          <% end %>
        </ol>
     </p>
  </body>
</html>
