<html>
  <head>
    <title>--URL--</title>
  </head>
  <body>
    <h1>--URL-- STATS:</h1>
      <p>
        <h2>Response Times</h2>
          <ol>
            <li>T1</li>
            <li>T2</li>
            <li>T3</li>
            <li>T4</li>
        </ol>
      </p>

  </body>
</html>

<h1>longest response time to shortest response time</h1>



<h1>if url does not exist then say so</h1>
